<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Doc</title>
</head>
<body>
    <h1>Weather Station API</h1>
    <h4>For Temperature of One station, Recorded One date:</h4>
    <p>API URL Format: http://127.0.0.1:6234/api/v1/`station`/`date`</p>
    <p>Example: http://127.0.0.1:6234/api/v1/11/1996-04-10</p>
    <h4>For Temperature of One station, All Dates dates:</h4>
    <p>API URL Format: http://127.0.0.1:6234/api/v1/`station`</p>
    <p>Example: http://127.0.0.1:6234/api/v1/11</p>
    <h4>For Temperature of One station, For a given year: </h4>
    <p>API URL Format: http://127.0.0.1:6234/api/v1/yearly/`station`/`year`</p>
    <p>Example: http://127.0.0.1:6234/api/v1//yearly/11/1996</p>
    <p>{{data|safe}}</p>
</body>
</html>